p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#8c8ab5;
	font-family:"San Francisco Text Regular", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#4a3b87;
	font-family:"San Francisco Text ExtBd", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:800;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"San Francisco Text Light", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-4 {
	color:#000000;
	font-family:"San Francisco Text Bold", sans-serif;
	font-size:320px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"HelveticaNeueLT Pro 25 UltLt", sans-serif;
	font-size:1200px;
	font-style:normal;
	font-weight:200;
	text-transform:uppercase;
}
span.CharOverride-6 {
	color:#ffffff;
	font-family:"Times New Roman", serif;
	font-size:720px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#4a3b87;
	font-family:"San Francisco Text Regular", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#000000;
	font-family:"San Francisco Text Light Italic", sans-serif;
	font-size:320px;
	font-style:italic;
	font-weight:300;
}
span.CharOverride-9 {
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:440px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#000000;
	font-family:"San Francisco Text Light", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:300;
	text-transform:uppercase;
}
span.CharOverride-12 {
	-webkit-text-stroke-color:#7ce6c7;
	-webkit-text-stroke-width:20px;
	color:#007a6c;
	font-family:"San Francisco Text Bold", sans-serif;
	font-size:320px;
	font-style:italic;
	font-weight:bold;
	text-stroke-color:#7ce6c7;
	text-stroke-width:20px;
}
span.CharOverride-13 {
	-webkit-text-stroke-color:#7ce6c7;
	-webkit-text-stroke-width:20px;
	color:#007a6c;
	font-family:Calibri, sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:bold;
	text-stroke-color:#7ce6c7;
	text-stroke-width:20px;
}
span.CharOverride-14 {
	color:#ffffff;
	font-family:"San Francisco Text Bold", sans-serif;
	font-size:280px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-15 {
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-16 {
	color:#000000;
	font-family:"San Francisco Text Light", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-17 {
	color:#000000;
	font-family:"San Francisco Text Bold", sans-serif;
	font-size:280px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-18 {
	color:#8c8ab5;
	font-family:"San Francisco Text Italic", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer424, #_idContainer433, #_idContainer441, #_idContainer447, #_idContainer453, #_idContainer463, #_idContainer466, #_idContainer469, #_idContainer475, #_idContainer482 {
	-webkit-transform:translate(49.999px,55.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:889.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,55.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:668.00px;
}
#_idContainer425, #_idContainer434, #_idContainer442, #_idContainer448, #_idContainer454, #_idContainer464, #_idContainer470, #_idContainer476, #_idContainer483 {
	-webkit-transform:translate(339.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(339.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer426, #_idContainer435, #_idContainer443, #_idContainer449, #_idContainer455, #_idContainer465, #_idContainer471, #_idContainer477, #_idContainer484 {
	-webkit-transform:translate(50.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer427 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:372.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer428 {
	-webkit-transform:translate(55.999px,407.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:146.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(55.999px,407.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.00px;
}
#_idContainer429 {
	-webkit-transform:translate(207.291px,420.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:518.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(207.291px,420.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer430 {
	-webkit-transform:translate(220.000px,407.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:538.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,407.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer431 {
	-webkit-transform:translate(129.000px,122.979px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:241.52px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(129.000px,122.979px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:524.00px;
}
#_idContainer432 {
	-webkit-transform:translate(77.000px,80.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(77.000px,80.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:286.00px;
}
#_idContainer436 {
	-webkit-transform:translate(219.999px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:850.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(219.999px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer437 {
	-webkit-transform:translate(55.291px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:146.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(55.291px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.00px;
}
#_idContainer438 {
	-webkit-transform:translate(55.291px,395.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:146.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(55.291px,395.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.00px;
}
#_idContainer439 {
	-webkit-transform:translate(206.582px,72.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:300.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,72.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer440 {
	-webkit-transform:translate(206.582px,408.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:536.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,408.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer444 {
	-webkit-transform:translate(50.291px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:83.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.291px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:145.00px;
}
#_idContainer445 {
	-webkit-transform:translate(206.582px,72.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:444.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,72.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer446 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:470.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer450 {
	-webkit-transform:translate(220.000px,58.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:703.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,58.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer451 {
	-webkit-transform:translate(206.582px,72.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:684.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,72.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer452 {
	-webkit-transform:translate(49.999px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:117.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:145.00px;
}
#_idContainer456 {
	-webkit-transform:translate(57.291px,49.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:170.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.291px,49.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:138.00px;
}
#_idContainer457 {
	-webkit-transform:translate(206.582px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:276.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer458 {
	-webkit-transform:translate(220.000px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:797.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,46.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer459 {
	-webkit-transform:translate(57.291px,371.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:170.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(57.291px,371.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:138.00px;
}
#_idContainer460 {
	-webkit-transform:translate(206.582px,383.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:536.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,383.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer461 {
	-webkit-transform:translate(220.000px,851.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:70.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,851.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:158.00px;
}
#_idContainer462 {
	-webkit-transform:translate(390.000px,851.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:94.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(390.000px,851.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:158.00px;
}
#_idContainer467 {
	-webkit-transform:translate(206.582px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:732.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer468 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:741.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer472 {
	-webkit-transform:translate(206.582px,71.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:852.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,71.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer473 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:886.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer474 {
	-webkit-transform:translate(49.999px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:170.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:138.00px;
}
#_idContainer478 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:890.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer479 {
	-webkit-transform:translate(206.582px,192.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:732.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,192.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer480 {
	-webkit-transform:translate(207.291px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:96.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(207.291px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer481 {
	-webkit-transform:translate(49.999px,179.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:182.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,179.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:138.00px;
}
#_idContainer485 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/466.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:902.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:502.50px;
}
#_idContainer486 {
	-webkit-transform:translate(206.582px,71.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:420.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,71.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer487 {
	-webkit-transform:translate(49.999px,511.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:182.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,511.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:138.00px;
}
#_idContainer488 {
	-webkit-transform:translate(206.582px,528.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:396.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,528.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer489, #_idContainer496 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1024.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer490, #_idContainer497 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:84.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer491 {
	-webkit-transform:translate(41.358px,27.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(41.358px,27.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:31.95px;
}
#_idContainer492, #_idContainer498 {
	-webkit-transform:translate(90.000px,21.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:63.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(90.000px,21.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:323.00px;
}
#_idContainer493 {
	-webkit-transform:translate(355.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(355.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer494 {
	-webkit-transform:translate(37.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(37.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer495 {
	-webkit-transform:translate(35.999px,106.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:794.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,106.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:519.00px;
}
#_idContainer499 {
	-webkit-transform:translate(8.300px,7.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,7.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer500 {
	-webkit-transform:translate(8.300px,11.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,11.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer501 {
	-webkit-transform:translate(8.300px,14.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,14.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer502 {
	-webkit-transform:translate(8.300px,19.010px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,19.010px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer503 {
	-webkit-transform:translate(8.300px,22.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,22.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer504 {
	-webkit-transform:translate(8.300px,26.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,26.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer505 {
	-webkit-transform:translate(8.300px,30.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,30.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer506 {
	-webkit-transform:translate(35.016px,7.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.016px,7.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer507 {
	-webkit-transform:translate(35.016px,11.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.016px,11.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer508 {
	-webkit-transform:translate(35.016px,14.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.016px,14.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer509 {
	-webkit-transform:translate(35.010px,19.010px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.010px,19.010px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer510 {
	-webkit-transform:translate(35.010px,22.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.010px,22.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer511 {
	-webkit-transform:translate(35.016px,26.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.016px,26.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer512 {
	-webkit-transform:translate(35.023px,30.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.023px,30.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer513 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.31px;
}
#_idContainer514 {
	-webkit-transform:translate(82.588px,24.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:48.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(82.588px,24.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:61.31px;
}
#_idContainer515 {
	-webkit-transform:translate(356.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(356.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer516 {
	-webkit-transform:translate(35.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer517 {
	-webkit-transform:translate(36.000px,82.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:602.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,82.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:519.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
