p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#8c8ab5;
	font-family:"San Francisco Text Regular", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#000000;
	font-family:"San Francisco Text Light", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-3 {
	color:#ffffff;
	font-family:"HelveticaNeueLT Pro 25 UltLt", sans-serif;
	font-size:1600px;
	font-style:normal;
	font-weight:200;
	text-transform:uppercase;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"HelveticaNeueLT Pro 25 UltLt", sans-serif;
	font-size:2200px;
	font-style:normal;
	font-weight:200;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#4a3b87;
	font-family:"San Francisco Text ExtBd", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:800;
}
span.CharOverride-6 {
	color:#000000;
	font-family:"San Francisco Text Bold", sans-serif;
	font-size:320px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-7 {
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#4a3b87;
	font-family:"San Francisco Text ExtBd", sans-serif;
	font-size:400px;
	font-style:normal;
	font-weight:800;
}
#_idContainer1134, #_idContainer1141 {
	-webkit-transform:translate(49.999px,55.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:889.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,55.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:668.00px;
}
#_idContainer1135, #_idContainer1142 {
	-webkit-transform:translate(339.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(339.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer1136, #_idContainer1143 {
	-webkit-transform:translate(50.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer1137 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:372.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer1138 {
	-webkit-transform:translate(220.000px,383.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:562.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,383.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1139 {
	-webkit-transform:translate(49.999px,167.128px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:145.87px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,167.128px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:668.00px;
}
#_idContainer1140 {
	-webkit-transform:translate(49.999px,53.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,53.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:286.00px;
}
#_idContainer1144 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:317.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1145, #_idContainer1151 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1024.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer1146, #_idContainer1152 {
	-webkit-transform:translate(352.000px,977.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(352.000px,977.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer1147, #_idContainer1153 {
	-webkit-transform:translate(35.000px,977.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.000px,977.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer1148 {
	-webkit-transform:translate(35.999px,53.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:182.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,53.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:151.00px;
}
#_idContainer1149 {
	-webkit-transform:translate(199.582px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:456.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(199.582px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer1150 {
	-webkit-transform:translate(213.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:490.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(213.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:519.00px;
}
#_idContainer1154 {
	-webkit-transform:translate(35.999px,58.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:86.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.999px,58.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:163.58px;
}
#_idContainer1155 {
	-webkit-transform:translate(199.582px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:588.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(199.582px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer1156 {
	-webkit-transform:translate(213.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:638.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(213.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:519.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
