p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#8c8ab5;
	font-family:"San Francisco Text Regular", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#4a3b87;
	font-family:"San Francisco Text ExtBd", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:800;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"San Francisco Text Light", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"HelveticaNeueLT Pro 25 UltLt", sans-serif;
	font-size:1200px;
	font-style:normal;
	font-weight:200;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"Times New Roman", serif;
	font-size:720px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-6 {
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-7 {
	color:#ffffff;
	font-family:"Times New Roman", serif;
	font-size:320px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-8 {
	color:#ffffff;
	font-family:Calibri, sans-serif;
	font-size:320px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-9 {
	color:#4a3b87;
	font-family:"San Francisco Text Regular", sans-serif;
	font-size:360px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#000000;
	font-family:"San Francisco Text Bold", sans-serif;
	font-size:320px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-11 {
	-webkit-text-stroke-color:#7ce6c7;
	-webkit-text-stroke-width:20px;
	color:#007a6c;
	font-family:"San Francisco Text Bold", sans-serif;
	font-size:320px;
	font-style:italic;
	font-weight:bold;
	text-stroke-color:#7ce6c7;
	text-stroke-width:20px;
}
span.CharOverride-12 {
	-webkit-text-stroke-color:#7ce6c7;
	-webkit-text-stroke-width:20px;
	color:#007a6c;
	font-family:Calibri, sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:bold;
	text-stroke-color:#7ce6c7;
	text-stroke-width:20px;
}
span.CharOverride-13 {
	color:#ff0000;
	font-family:"San Francisco Text Light", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-14 {
	color:#ffffff;
	font-family:Calibri, sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer894, #_idContainer903, #_idContainer923, #_idContainer930, #_idContainer935, #_idContainer940, #_idContainer954, #_idContainer965 {
	-webkit-transform:translate(49.999px,55.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:889.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,55.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:668.00px;
}
#_idContainer895, #_idContainer904, #_idContainer924, #_idContainer931, #_idContainer936, #_idContainer941, #_idContainer955, #_idContainer966 {
	-webkit-transform:translate(339.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(339.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer896, #_idContainer905, #_idContainer925, #_idContainer932, #_idContainer937, #_idContainer942, #_idContainer956, #_idContainer967 {
	-webkit-transform:translate(50.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer897 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:372.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer898 {
	-webkit-transform:translate(55.999px,383.222px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:146.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(55.999px,383.222px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.00px;
}
#_idContainer899 {
	-webkit-transform:translate(207.082px,396.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:528.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(207.082px,396.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer900 {
	-webkit-transform:translate(220.000px,383.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:562.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,383.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer901 {
	-webkit-transform:translate(131.000px,98.729px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:241.52px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(131.000px,98.729px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:524.00px;
}
#_idContainer902 {
	-webkit-transform:translate(79.000px,55.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(79.000px,55.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:286.00px;
}
#_idContainer906 {
	-webkit-transform:translate(206.582px,72.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:132.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,72.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer907 {
	-webkit-transform:translate(205.874px,437.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(205.874px,437.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer908 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:146.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer909 {
	-webkit-transform:translate(35.582px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:158.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.582px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:159.00px;
}
#_idContainer910 {
	-webkit-transform:translate(269.000px,192.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:240.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(269.000px,192.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:410.00px;
}
#_idContainer911 {
	-webkit-transform:translate(220.000px,599.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:362.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,599.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer912 {
	-webkit-transform:translate(36.000px,599.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:158.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,599.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:159.00px;
}
#_idContainer913 {
	-webkit-transform:translate(207.999px,612.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:332.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(207.999px,612.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer914 {
	-webkit-transform:translate(202.500px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:177.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(202.500px,0.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:202.50px;
}
#_idContainer915 {
	-webkit-transform:translate(65.479px,206.513px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.61px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.479px,206.513px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:22.67px;
}
#_idContainer916 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:206.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:202.50px;
}
#_idContainer917 {
	-webkit-transform:translate(6.689px,18.082px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:147.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(6.689px,18.082px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:188.51px;
}
#_idContainer918 {
	-webkit-transform:translate(26.499px,220.486px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:206.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(26.499px,220.486px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:202.50px;
}
#_idContainer919 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:68.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:68.50px;
}
#_idContainer920 {
	-webkit-transform:translate(69.642px,34.677px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.84px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(69.642px,34.677px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:40.94px;
}
#_idContainer921 {
	-webkit-transform:translate(26.499px,435.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:77.51px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(26.499px,435.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:110.59px;
}
#_idContainer922 {
	-webkit-transform:translate(220.000px,431.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:86.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,431.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer926 {
	-webkit-transform:translate(206.582px,72.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:312.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,72.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer927 {
	-webkit-transform:translate(206.582px,432.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:504.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,432.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer928 {
	-webkit-transform:translate(49.999px,418.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:182.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,418.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.00px;
}
#_idContainer929 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:886.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer933 {
	-webkit-transform:translate(206.582px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:816.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer934 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:821.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer938 {
	-webkit-transform:translate(206.582px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:864.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer939 {
	-webkit-transform:translate(220.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:898.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer943 {
	-webkit-transform:translate(27.815px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.815px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:71.92px;
}
#_idContainer944 {
	-webkit-transform:translate(0.000px,56.422px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,56.422px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:38.21px;
}
#_idContainer945 {
	-webkit-transform:translate(80.000px,254.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(80.000px,254.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:99.74px;
}
#_idContainer946 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:169.28px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:331.00px;
}
#_idContainer947 {
	-webkit-transform:translate(132.224px,203.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:37.22px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(132.224px,203.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:47.66px;
}
#_idContainer948 {
	-webkit-transform:translate(114.000px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:204.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(114.000px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:331.00px;
}
#_idContainer949 {
	-webkit-transform:translate(124.000px,62.734px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:158.06px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(124.000px,62.734px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:311.00px;
}
#_idContainer950 {
	-webkit-transform:translate(220.000px,346.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:611.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform: translate(220.000px,30px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer951 {
	-webkit-transform:translate(206.582px,360.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:264.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform: translate(206.582px,30px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer952 {
	-webkit-transform:translate(206.582px,672.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:272.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform: translate(206.582px,359px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer953 {
	-webkit-transform:translate(49.999px,663.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:182.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform: translate(49.999px,363px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.00px;
}
#_idContainer957 {
	-webkit-transform:translate(206.582px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:168.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer958 {
	-webkit-transform:translate(206.582px,276.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:168.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,276.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer959 {
	-webkit-transform:translate(206.582px,564.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:168.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,564.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer960 {
	-webkit-transform:translate(206.582px,780.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:120.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,780.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer961 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:854.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer962 {
	-webkit-transform:translate(49.999px,268.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:68.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,268.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.00px;
}
#_idContainer963 {
	-webkit-transform:translate(49.999px,556.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:68.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,556.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.00px;
}
#_idContainer964 {
	-webkit-transform:translate(49.999px,772.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:109.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,772.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.00px;
}
#_idContainer968 {
	-webkit-transform:translate(206.582px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:492.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer969 {
	-webkit-transform:translate(220.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:511.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer970, #_idContainer978, #_idContainer986 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1024.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer971, #_idContainer979, #_idContainer987 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:84.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer972, #_idContainer980 {
	-webkit-transform:translate(41.358px,27.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(41.358px,27.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:31.95px;
}
#_idContainer973, #_idContainer981, #_idContainer988 {
	-webkit-transform:translate(90.000px,21.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:63.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(90.000px,21.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:323.00px;
}
#_idContainer974, #_idContainer982 {
	-webkit-transform:translate(355.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(355.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer975, #_idContainer983 {
	-webkit-transform:translate(37.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(37.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer976, #_idContainer984 {
	-webkit-transform:translate(36.000px,84.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,84.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:30.00px;
}
#_idContainer977 {
	-webkit-transform:translate(36.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:346.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:354.00px;
}
#_idContainer985 {
	-webkit-transform:translate(36.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:398.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:519.00px;
}
#_idContainer989 {
	-webkit-transform:translate(8.300px,7.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,7.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer990 {
	-webkit-transform:translate(8.300px,11.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,11.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer991 {
	-webkit-transform:translate(8.300px,14.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,14.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer992 {
	-webkit-transform:translate(8.300px,19.010px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,19.010px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer993 {
	-webkit-transform:translate(8.300px,22.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,22.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer994 {
	-webkit-transform:translate(8.300px,26.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,26.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer995 {
	-webkit-transform:translate(8.300px,30.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,30.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer996 {
	-webkit-transform:translate(35.016px,7.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.016px,7.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer997 {
	-webkit-transform:translate(35.016px,11.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.016px,11.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer998 {
	-webkit-transform:translate(35.016px,14.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.016px,14.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer999 {
	-webkit-transform:translate(35.010px,19.010px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.010px,19.010px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer1000 {
	-webkit-transform:translate(35.010px,22.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.010px,22.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer1001 {
	-webkit-transform:translate(35.016px,26.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.016px,26.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer1002 {
	-webkit-transform:translate(35.023px,30.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.023px,30.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer1003 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.31px;
}
#_idContainer1004 {
	-webkit-transform:translate(82.588px,24.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:48.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(82.588px,24.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:61.31px;
}
#_idContainer1005 {
	-webkit-transform:translate(356.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(356.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer1006 {
	-webkit-transform:translate(35.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer1007 {
	-webkit-transform:translate(36.000px,106.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:338.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,106.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:519.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
