p.ParaOverride-1 {
	line-height:1;
	white-space:nowrap;
}
span.CharOverride-1 {
	color:#8c8ab5;
	font-family:"San Francisco Text Regular", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-2 {
	color:#4a3b87;
	font-family:"San Francisco Text ExtBd", sans-serif;
	font-size:480px;
	font-style:normal;
	font-weight:800;
}
span.CharOverride-3 {
	color:#000000;
	font-family:"San Francisco Text Light", sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-4 {
	color:#ffffff;
	font-family:"HelveticaNeueLT Pro 25 UltLt", sans-serif;
	font-size:2000px;
	font-style:normal;
	font-weight:200;
	text-transform:uppercase;
}
span.CharOverride-5 {
	color:#ffffff;
	font-family:"Times New Roman", serif;
	font-size:720px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-6 {
	-webkit-text-stroke-color:#7ce6c7;
	-webkit-text-stroke-width:20px;
	color:#007a6c;
	font-family:"San Francisco Text Bold", sans-serif;
	font-size:320px;
	font-style:italic;
	font-weight:bold;
	text-stroke-color:#7ce6c7;
	text-stroke-width:20px;
}
span.CharOverride-7 {
	-webkit-text-stroke-color:#7ce6c7;
	-webkit-text-stroke-width:20px;
	color:#007a6c;
	font-family:Calibri, sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:bold;
	text-stroke-color:#7ce6c7;
	text-stroke-width:20px;
}
span.CharOverride-8 {
	color:#000000;
	font-family:"San Francisco Text Bold", sans-serif;
	font-size:320px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-9 {
	color:#000000;
	font-family:Calibri, sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-10 {
	color:#ffffff;
	font-family:"Times New Roman", serif;
	font-size:320px;
	font-style:italic;
	font-weight:normal;
}
span.CharOverride-11 {
	color:#ffffff;
	font-family:"San Francisco Text Light", sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-12 {
	color:#ffffff;
	font-family:Calibri, sans-serif;
	font-size:280px;
	font-style:normal;
	font-weight:normal;
}
span.CharOverride-13 {
	color:#ffffff;
	font-family:"San Francisco Text Bold", sans-serif;
	font-size:260px;
	font-style:italic;
	font-weight:bold;
}
span.CharOverride-14 {
	color:#ffffff;
	font-family:"San Francisco Text Light", sans-serif;
	font-size:260px;
	font-style:normal;
	font-weight:300;
}
span.CharOverride-15 {
	color:#ffffff;
	font-family:Calibri, sans-serif;
	font-size:320px;
	font-style:normal;
	font-weight:normal;
}
#_idContainer1008, #_idContainer1017, #_idContainer1023, #_idContainer1035, #_idContainer1042, #_idContainer1051, #_idContainer1060, #_idContainer1065, #_idContainer1078, #_idContainer1088, #_idContainer1097 {
	-webkit-transform:translate(49.999px,55.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:889.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,55.855px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:668.00px;
}
#_idContainer1009, #_idContainer1018, #_idContainer1024, #_idContainer1036, #_idContainer1043, #_idContainer1052, #_idContainer1061, #_idContainer1066, #_idContainer1079, #_idContainer1089, #_idContainer1098 {
	-webkit-transform:translate(339.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(339.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer1010, #_idContainer1019, #_idContainer1025, #_idContainer1037, #_idContainer1044, #_idContainer1053, #_idContainer1062, #_idContainer1067, #_idContainer1080, #_idContainer1090, #_idContainer1099 {
	-webkit-transform:translate(50.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer1011 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:372.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer1012 {
	-webkit-transform:translate(55.999px,383.222px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:146.78px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(55.999px,383.222px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.00px;
}
#_idContainer1013 {
	-webkit-transform:translate(207.082px,396.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:336.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(207.082px,396.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer1014 {
	-webkit-transform:translate(220.000px,383.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:353.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,383.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1015 {
	-webkit-transform:translate(142.000px,161.298px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:158.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(142.000px,161.298px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:524.00px;
}
#_idContainer1016 {
	-webkit-transform:translate(90.000px,55.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:67.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(90.000px,55.902px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:286.00px;
}
#_idContainer1020 {
	-webkit-transform:translate(206.582px,72.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:828.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,72.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer1021 {
	-webkit-transform:translate(50.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:158.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:144.58px;
}
#_idContainer1022 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:854.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1026 {
	-webkit-transform:translate(206.582px,624.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:320.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,624.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer1027, #_idContainer1068, #_idContainer1081 {
	-webkit-transform:translate(27.815px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:71.92px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(27.815px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:71.92px;
}
#_idContainer1028, #_idContainer1069, #_idContainer1082 {
	-webkit-transform:translate(0.000px,56.422px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:41.54px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,56.422px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:38.21px;
}
#_idContainer1029 {
	-webkit-transform:translate(50.000px,526.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.000px,526.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:99.74px;
}
#_idContainer1030 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:399.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:561.00px;
}
#_idContainer1031 {
	-webkit-transform:translate(224.103px,481.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:87.95px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(224.103px,481.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:80.78px;
}
#_idContainer1032 {
	-webkit-transform:translate(50.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:482.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:561.00px;
}
#_idContainer1033 {
	-webkit-transform:translate(65.999px,64.734px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/995.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:374.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(65.999px,64.734px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:529.00px;
}
#_idContainer1034 {
	-webkit-transform:translate(220.000px,611.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:341.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,611.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1038, #_idContainer1100 {
	-webkit-transform:translate(206.582px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:408.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer1039 {
	-webkit-transform:translate(220.000px,49.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:900.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,49.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1040 {
	-webkit-transform:translate(206.582px,517.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:418.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,517.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer1041 {
	-webkit-transform:translate(49.999px,509.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:182.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(49.999px,509.499px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.00px;
}
#_idContainer1045 {
	-webkit-transform:translate(206.582px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:864.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer1046 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:103.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1047 {
	-webkit-transform:translate(220.000px,180.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:180.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,180.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1048 {
	-webkit-transform:translate(220.000px,370.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1009.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:330.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,370.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1049 {
	-webkit-transform:translate(220.000px,715.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:180.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,715.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1050 {
	-webkit-transform:translate(220.000px,898.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1010.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:38.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,898.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1054 {
	-webkit-transform:translate(206.582px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:876.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer1055 {
	-webkit-transform:translate(220.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:230.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,47.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1056 {
	-webkit-transform:translate(220.000px,288.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:180.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,288.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1057 {
	-webkit-transform:translate(220.000px,478.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1016.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:222.30px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,478.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1058 {
	-webkit-transform:translate(220.000px,720.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:180.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,720.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1059 {
	-webkit-transform:translate(220.000px,910.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	background-image:url(../image/1017.png);
	background-repeat:no-repeat;
	background-size:cover;
	height:38.50px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,910.500px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1063, #_idContainer1096 {
	-webkit-transform:translate(206.582px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:720.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(206.582px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer1064 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:726.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1070 {
	-webkit-transform:translate(50.000px,298.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(50.000px,298.033px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:99.74px;
}
#_idContainer1071 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:199.16px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:406.00px;
}
#_idContainer1072 {
	-webkit-transform:translate(162.185px,240.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:43.79px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(162.185px,240.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:58.46px;
}
#_idContainer1073 {
	-webkit-transform:translate(94.000px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:240.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(94.000px,59.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:406.00px;
}
#_idContainer1074 {
	-webkit-transform:translate(106.000px,65.734px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:173.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(106.000px,65.734px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:380.00px;
}
#_idContainer1075 {
	-webkit-transform:translate(220.000px,446.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:431.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,446.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1076 {
	-webkit-transform:translate(55.999px,434.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:146.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(55.999px,434.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:140.00px;
}
#_idContainer1077 {
	-webkit-transform:translate(207.082px,446.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:336.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(207.082px,446.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:1.42px;
}
#_idContainer1083 {
	-webkit-transform:translate(129.000px,587.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:97.97px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(129.000px,587.999px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:99.74px;
}
#_idContainer1084 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:438.14px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:624.00px;
}
#_idContainer1085 {
	-webkit-transform:translate(249.269px,527.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:96.34px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(249.269px,527.999px) rotate(180.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:89.85px;
}
#_idContainer1086 {
	-webkit-transform:translate(94.000px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:528.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(94.000px,60.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:624.00px;
}
#_idContainer1087 {
	-webkit-transform:translate(103.999px,69.734px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:404.27px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(103.999px,69.734px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:590.00px;
}
#_idContainer1091 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:91.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1092 {
	-webkit-transform:translate(220.000px,154.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:148.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,154.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:158.00px;
}
#_idContainer1093 {
	-webkit-transform:translate(390.000px,154.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:134.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(390.000px,154.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:158.00px;
}
#_idContainer1094 {
	-webkit-transform:translate(560.000px,154.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:104.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(560.000px,154.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:158.00px;
}
#_idContainer1095 {
	-webkit-transform:translate(220.000px,323.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:464.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,323.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1101 {
	-webkit-transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:414.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(220.000px,59.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:498.00px;
}
#_idContainer1102, #_idContainer1112 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:1024.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer1103, #_idContainer1113 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:84.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:768.00px;
}
#_idContainer1104 {
	-webkit-transform:translate(41.358px,27.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:42.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(41.358px,27.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:31.95px;
}
#_idContainer1105, #_idContainer1114 {
	-webkit-transform:translate(90.000px,21.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:63.85px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(90.000px,21.152px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:323.00px;
}
#_idContainer1106 {
	-webkit-transform:translate(355.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:30.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(355.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer1107 {
	-webkit-transform:translate(37.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:29.40px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(37.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer1108 {
	-webkit-transform:translate(36.000px,84.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:24.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,84.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:30.00px;
}
#_idContainer1109 {
	-webkit-transform:translate(36.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:101.80px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,107.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:354.00px;
}
#_idContainer1110 {
	-webkit-transform:translate(36.000px,215.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:215.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,215.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:165.00px;
}
#_idContainer1111 {
	-webkit-transform:translate(213.000px,215.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:215.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(213.000px,215.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:165.00px;
}
#_idContainer1115 {
	-webkit-transform:translate(8.300px,7.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,7.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer1116 {
	-webkit-transform:translate(8.300px,11.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,11.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer1117 {
	-webkit-transform:translate(8.300px,14.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,14.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer1118 {
	-webkit-transform:translate(8.300px,19.010px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,19.010px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer1119 {
	-webkit-transform:translate(8.300px,22.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,22.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer1120 {
	-webkit-transform:translate(8.300px,26.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,26.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer1121 {
	-webkit-transform:translate(8.300px,30.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(8.300px,30.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer1122 {
	-webkit-transform:translate(35.016px,7.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.016px,7.137px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer1123 {
	-webkit-transform:translate(35.016px,11.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.016px,11.138px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer1124 {
	-webkit-transform:translate(35.016px,14.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.016px,14.885px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer1125 {
	-webkit-transform:translate(35.010px,19.010px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.010px,19.010px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer1126 {
	-webkit-transform:translate(35.010px,22.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.010px,22.823px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:18.00px;
}
#_idContainer1127 {
	-webkit-transform:translate(35.016px,26.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.03px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.016px,26.739px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer1128 {
	-webkit-transform:translate(35.023px,30.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:4.02px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(35.023px,30.669px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:17.99px;
}
#_idContainer1129 {
	-webkit-transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:48.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(0.000px,0.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:61.31px;
}
#_idContainer1130 {
	-webkit-transform:translate(82.588px,24.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	-webkit-transform-origin:0% 0%;
	height:48.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(82.588px,24.000px) rotate(180.000deg) skew(0.000deg) scale(1.000,-1.000);
	transform-origin:0% 0%;
	width:61.31px;
}
#_idContainer1131 {
	-webkit-transform:translate(37.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:31.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(37.000px,971.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:150.00px;
}
#_idContainer1132 {
	-webkit-transform:translate(354.000px,976.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:26.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(354.000px,976.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:379.00px;
}
#_idContainer1133 {
	-webkit-transform:translate(36.000px,113.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	-webkit-transform-origin:0% 0%;
	height:248.00px;
	left:0px;
	position:absolute;
	top:0px;
	transform:translate(36.000px,113.000px) rotate(0.000deg) skew(0.000deg) scale(1.000,1.000);
	transform-origin:0% 0%;
	width:519.00px;
}
img._idGenObjectAttribute-1 {
	height:100.00%;
	min-width:100%;
	width:100.00%;
}
img._idGenObjectAttribute-2 {
	left:0px;
	position:absolute;
	top:0px;
}
div._idGenObjectStyle-Disabled {
	background-color:transparent;
	border-width:0px;
}
